<div class="jumbotron">
	<h1>My Books</h1>
	<p class="lead">A community library by you for you</p>
	<p><a class="btn btn-lg btn-success" href="#/login" role="button">Get started today</a></p>
</div>

<div class="row">
	<div class="col-lg-4">
	  <h2>Cheap</h2>
	  <p>You could borrow the book for free for your neighbours or anyone!</p>
	</div>
	<div class="col-lg-4">
	  <h2>Anytime</h2>
	  <p>You can check out any book at anytime anywhere</p>
	</div>
	<div class="col-lg-4">
	  <h2>Speed</h2>
	  <p>Fast and easy</p>
	</div>
</div>

