<p>Welcome! {{user}}</p>
<div class="container">
	<div class="col-md-4">
		<p>Books</p>
		<table class="table table-hover">
		    <tr ng-class="{active: info.isSelected}" ng-repeat="info in collectionsInfo" ng-click="getBookInfo(info.isbn)">
	            <td>{{info.title}}</td>
	            <td>{{info.dateCreated}}</td>
	            <td>{{info.quantity}}</td>
	        </tr>    
		</table>
	</div>
	<div class="col-md-8">
		<p>Details</p>
		<img ng-src={{bookInfo.thumbnail.normal}} class="img-thumbnail">
		<p>{{bookInfo.isbn}}</p>
        <p>{{bookInfo.title}}</p>
        <p>{{bookInfo.pageNumber}}</p>
        <p>{{bookInfo.publisher}}</p>
        <p>{{bookInfo.publishDate}}</p>
        <p ng-repeat="author in bookInfo.author">{{author}}</p>        
	</div>	
</div>