<p>Welcome! {{user}}</p>
<div class="container">
	<div class="col-md-4">
		<p>Books</p>
		<ul class="media-list">
			<li ng-repeat="info in collectionsInfo" ng-click="getBookInfo(info.isbn)" ng-class="{active: info.isSelected, media: true}">
				<a class="pull-left" href="#">
			    	<img class="media-object" ng-src="{{info.thumbnail}}" alt="1">
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{info.title}}</h4>
					{{info.dateCreated}}
					<span class="badge pull-right">{{info.quantity}}</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-8">
		<p>Details</p>     

        <div ui-toggle="bookInfo.title" class="animated"> 
        	<img ng-src={{bookInfo.thumbnail.normal}} class="img-thumbnail">
			<p>{{bookInfo.isbn}}</p>
	        <p>{{bookInfo.title}}</p>
	        <p>{{bookInfo.pageNumber}}</p>
	        <p>{{bookInfo.publisher}}</p>
	        <p>{{bookInfo.publishDate}}</p>
	        <p ng-repeat="author in bookInfo.author">{{author}}</p>  
	        <button ng-click="deleteCollection(bookInfo)" type="button" class="btn btn-danger">Delete</button>    
        </div> 
	</div>	
</div>