<p>Welcome! {{user}}</p>
<div class="container">
	<div class="col-md-4">
		<p>Books</p>
		<input ng-model="searchText" type="text" class="form-control" placeholder="Search">
		<div class="spacer10"></div>
		<div class="row"></div>
		<ul class="media-list">
			<li ng-repeat="info in collectionsInfo | filter: searchText | orderBy: 'dateCreated': true" ng-click="getBookInfo(info.isbn)" ng-class="{active: info.isSelected, media: true}" class="animated repeat-items">
				<a class="pull-left" href="#">
			    	<img class="media-object" ng-src="{{info.thumbnail}}" alt="1">
				</a>
				<div class="media-body">
					<h4 class="media-heading">{{info.title}}</h4>
					{{info.dateCreated}}
					<span class="badge pull-right">{{info.quantity}}</span>
				</div>
			</li>
		</ul>
	</div>
	<div class="col-md-8">
		<p>Details</p>     

        <div ui-toggle="bookInfo.title" class="animated"> 
        	<span ng-repeat="category in bookInfo.categories" class="label label-info">{{category}}</span>
        	<div class="spacer10"></div>
        	<blockquote>
		        <p>{{bookInfo.title}}</p>
		        <p>{{bookInfo.subtitle}}</p>		   
		        <footer ng-repeat="author in bookInfo.author">{{author}}</footer>       
        	</blockquote>
        	<img ng-src={{bookInfo.thumbnail.smallThumbnail}} class="img-thumbnail">
			<p>{{bookInfo.isbn}}</p>
	        <p>{{bookInfo.pageNumber}}</p>
	        <p>{{bookInfo.publisher}}</p>
	        <p>{{bookInfo.publishDate}}</p>
	        
	        <p>{{bookInfo.description}}</p>
			<button ng-click="deleteCollection(bookInfo)" type="button" class="btn btn-danger">Delete</button>    
        	<button ng-click="fbShareCollection(bookInfo)" type="button" class="btn btn-info">Share</button>  
        </div> 
	</div>	
</div>